<h3>商品一覧</h3>
<% @products.each do |product| %>
  <ul> 
    <li>
      <%= link_to staffs_product_path(product.id) do %>
        <%= attachment_image_tag product, :image, :fill, 300, 300 %><br>
        <%= product.name %><br>
        <%= product.price %><br>
      <% end %>
    </li> 
  </ul>
<% end %>